*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    background-color:lavenderblush;
}
header{
    margin: 0;
    padding: 0;
}

section {
  margin: 60px auto;
  max-width: 1100px;
}


.list{
    padding: 0;
    display: flex;
    gap: 30px;
    text-align: center;
    font-size: large;
    justify-content: space-evenly;
    transition: 1s ease;
}
nav{
    align-items: center;
    border: 2px solid;;
    width:auto;
}
a{
    color:blue;
}

a:hover{
    color:rgb(3, 49, 86);
    font-size: larger;
    transform: translate(7px);
    transition-duration: 0.7s;
}

#services{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:brown;
}

#aboutme h1{
    justify-content: center;
    text-align: center;
    margin: 5px;
    font-size: 70px;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#aboutme h2{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color:rgb(1, 89, 89)
}

#aboutme p{
    justify-content: center;
    text-align: center;
    font-size: large;
}

img{
    width:200px;
    transform: translate(20px);
}

#education th{
    justify-content: center;
    align-content: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table{
    border: 2px solid black;
    justify-content: center;
    margin-left: 570px;
    font-size: large;
}

table td,tr{
    text-align: center;
}

h2,h4{
    margin-top: 10px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(3, 56, 56);
    font-size: 25px;
    
}

#skillandexp, #projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    max-width: 5000px;
    margin: 0;
    padding: 0; 
    justify-content: center;
    transform: translate(400px);
    width: 50%;

}


.webskill, .toolstech, .softskill{
    border: 3px solid black;
    margin: 2px;
    padding: 5px;
    font-size: larger;
    background-color:cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(23, 3, 103);
    letter-spacing: 2px;
     transition: transform 0.25s ease;
    transition: box-shadow 0.25s ease;
}

.laundry, .resume{
    border: 3px solid black;
    margin: 2px;
    padding: 5px;
    font-size: larger;
    background-color:rgba(43, 78, 194, 0.64);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(23, 3, 103);
    transition: transform 0.25s ease;
    transition: box-shadow 0.25s ease;
}

.laundry:hover,.resume:hover,.softskill:hover,.toolstech:hover,.webskill:hover{
    transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
   border-color: #2c2c2c;
}
#connect{
    border: 2px solid black;
    width: fit-content;
    justify-content: center;
    text-align: center;
    background-color: rgba(43, 78, 194, 0.64);
    color: black;
}
#connect p{
    display: flex;
    text-align: center;
    font-size: larger;
    width: 320px;
    padding-bottom: 10px;
    margin: 0;
    justify-content: center;
    align-content: center;
}
#connect a{
    text-decoration: none;
    color:rgb(1, 43, 43)
}

.navbar {
  width: 100%;
  background-color: #2f3e46;
  padding: 14px 0;
  position: sticky;
  top: 0;
  z-index: 100;}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;}

.list{
    list-style: none;
    display: flex;
    gap: 32px;
}

.list a{
    text-decoration: none;
  color: #f1faee;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.list a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #84a98c;
  transition: width 0.3s ease;
}

.list a:hover{
    color: #84a98c
}
.list a:hover::after{
    width:100%;
}

footer {
  text-align: center;
  padding: 40px 0;
}